.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .waveW {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // .form {
  //   max-width: 300px;
  //   margin: 0 auto;
  //   padding-top: 15%;
  // }
}