*{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, sans-serif, Helvetica;
}

html,body{
  min-height: 100%
}

#not-found{
  color: #666;
  padding-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

@keyframes logoRotate{
  from{
    transform: rotateZ(0)
  }
  to{
    transform: rotateZ(360deg)
  }
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  div{
    width: 40px;
    height: 36px;
    background: url('../imgs/logo.svg') center center no-repeat;
    background-size: cover;
    animation: logoRotate 6s linear 0s infinite normal running none;

    &:hover{
      animation-play-state: paused;
    }
  }
}