
#not-found{
  color: #666;
  padding-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

@keyframes logoRotate{
  from{
    transform: rotateZ(0)
  }
  to{
    transform: rotateZ(360deg)
  }
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  div{
    width: 40px;
    height: 36px;
    background: url('../imgs/logo.svg') center center no-repeat;
    background-size: cover;
    animation: logoRotate 6s linear 0s infinite normal running none;

    &:hover{
      animation-play-state: paused;
    }
  }
}

/* search-form */
.ant-form.search-form {
  padding-bottom: 20px;

  .ant-form-item{
    margin-bottom: 12px;
  }

  .search-btn-w{
    text-align: right;
    
    .ant-btn{
      margin-left: 8px;
    }
  }
}