
#not-found{
  color: #666;
  padding-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

@keyframes logoRotate{
  from{
    transform: rotateZ(0)
  }
  to{
    transform: rotateZ(360deg)
  }
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  div{
    width: 40px;
    height: 36px;
    background: url('../imgs/logo.svg') center center no-repeat;
    background-size: cover;
    animation: logoRotate 6s linear 0s infinite normal running none;

    &:hover{
      animation-play-state: paused;
    }
  }
}

/* search-form */
.ant-form.search-form {
  padding-bottom: 20px;

  .ant-form-item{
    margin-bottom: 12px;
  }

  .search-btn-w{
    text-align: right;
    
    .ant-btn{
      margin-left: 8px;
    }
  }
}

/* table-list */
.table-list {
  @for $i from 1 to 10{
    .textflow-#{$i} {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: #{$i};
      -webkit-box-orient: vertical;
    }
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 6px;
  }
}

/* row-flex */

.large-modal {
  width: 80% !important;
  
  .row{
    display: flex;
    padding-bottom: 10px;

    &>div{
      word-break: break-all;

      &:first-child{
        min-width: 100px
      }
    }
  }
}

/* user-menu */
.user-menu{
  div{
    padding: 4px 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    &:last-child{
      border-bottom: none;
    }
  }
}