
.face {
  height: 100%;

  img, canvas {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.wrap {
  height: 100%;

  &> div {
    width: 44%;
    height: 100%;
    border: 1px dashed #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.result {
      border-color:red;
    }
  }
}
