
/* row-flex */

.large {
  top: 80px;

  :global {
    .row {
      display: flex;
      padding-bottom: 12px;
  
      & > div {
        word-break: break-all;
  
        &:first-child {
          flex: 0 0 100px;
        }
      }
    }
  }
}