
.dashboard {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: 20px;

  h2 {
    text-align: center;
    padding-bottom: 8px;
  }

  .chart {
    position: relative;
    height: 400px;
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    border: 1px solid var(--main-border-color);
  }
}