
.logo {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  svg {
    display: block;
    width: 40px;
    height: 40px;
    animation: logoRotate 6s linear 0s infinite normal running none;

    &:hover {
      animation-play-state: paused;
    }
  }

  .title {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
  }
}

@keyframes logoRotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}
