@import './base.scss';
@import './functions.scss';
@import './dark.scss';

#app {
  // height: 100%;
}

#not-found {
  color: #666;
  padding-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

/* search-form */
.ant-form.search-form {
  padding-bottom: 20px;

  .ant-form-item {
    margin-bottom: 12px;
  }

  .search-btn-w {
    text-align: right;

    .ant-btn {
      margin-left: 8px;
    }
  }
}

/* table-list */
.table-list {
  @for $i from 1 to 10 {
    .textflow-#{$i} {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: #{$i};
      -webkit-box-orient: vertical;
    }
  }

  .ant-table-thead > tr > th {
    padding: 10px;
  }

  .ant-table-tbody > tr > td {
    padding: 0 6px;
  }
}

/* row-flex */

.large-modal {
  width: 80% !important;

  .row {
    display: flex;
    padding-bottom: 10px;

    & > div {
      word-break: break-all;

      &:first-child {
        min-width: 100px;
      }
    }
  }
}

/* user-menu */
.user-menu {
  div {
    padding: 4px 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }
  }
}

/* editor-wrap */
.editor-wrap {
  position: relative;

  .editor-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.5);
  }
}

/* trend-table-list */
.trend-table-list {
  th,td {
    padding: 0 !important;
    font-size: 12px;
  }
}

.rules-table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;

  tr:nth-child(-n+2) {
    background-color: #eee;
  }

  td {
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .ball {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    margin-right: 4px;
    display: inline-block;
  }

  .red {
    background-color: #f54646;
  }

  .blue {
    background-color: #39f;
  }
}

/* chart-w */
.chart-w {
  height: 400px;
  border: 1px solid #eee;
}