
/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
  }

  a {
    color: #4e9eff;
  }
}

/* custom dark mode */
body[theme=dark] {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);

  a {
    color: #4e9eff;
  }
}